@{
    ViewData["Title"] = "Главная";
}

    <style>

    </style>
    <div class="main">
        <div class="mainlogo">
            <img src="~/image/slide1.svg" alt="not found"/>
        </div>
    </div>