<style>
    .err {
        background-color :white;
        text-align:center;
        opacity:0.8;
        padding:10px;
        border-radius:70%;
        width:40%;
    }
</style>
<span class="container">
    <div class="err">
        Клиентов с таким именем не найдено.
    </div>
</span>